.back{
    background-color: #262626;
}
.col{
    color: green;
    margin-left: -10px !important;
    font-weight: bolder;
}
.btn {
    background-color: #262626;
    border: 2px solid white !important;
    color: white;
    outline: none !important;
    padding: 5px 8px;
    font-size: 14px;
    cursor: pointer;
  }
  .navigation {
    width: 100%;
    background-color: black;
  }
  
  img {
    width: 25px;
    border-radius: 50px;
    float: left;
  }
  
  .logout {
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
      position: relative;
    right: -18px;
    bottom: -4px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;
    
  }
  
  .button {
      text-decoration: none;
      float: right;
    padding: 12px;
    margin: 0px;
    color: white;
    width: 50px;
    background-color: black;
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden
  }
  
 a.button:hover {
    width: 150px;
  }
  
  a:hover .logout{
    opacity: .9;
  }
  
  a {
    text-decoration: none;
  }
  
.nav-link{
margin-top: 5px;
margin-right: 20px;
} 
.navbar {
  overflow: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}